name: Build release candidate

env:
  #AZURE_WEBAPP_NAME: githubactiondemo  # set this to your application's name
  #AZURE_WEBAPP_PACKAGE_PATH: ${{ github.workspace }} # set this to the path to your web app project
  JAVA_VERSION: '1.8'                # set this to the node version to use
  #AZURE_WEBAPP_PUBLISH_PROFILE: ${{ secrets.AZURE_PUBLISH_PROFILE }}     # set GH repo secret with the publish profile of the web app
  GITHUB_REPOSITORY : ${{github.repository}}
  OUTPUT_PATH: ${{ github.workspace }}/.artifacts

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
            java-version: ${{ env.JAVA_VERSION }}
      - name: Build with Maven
        run: mvn package --file pom.xml
      
      - name: Create version file
        run: echo ${{ env.package_version }} >> ${{ env.OUTPUT_PATH }}/version.txt

      - name: Publish release packages
        uses: actions/upload-artifact@v1
        with:
          name: packages
          path: ${{ env.OUTPUT_PATH }}

      - name: Prepare create release issue action
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Building Action
        run: npm i && npm run build
        working-directory: ./.github/actions/create-issue

      - name: Create Release Issue
        uses: ./.github/actions/create-issue
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          action-id: ${{ github.run_id }}
          package-version: ${{ env.package_version }}
